.container{
    height: auto;
    width: 100%;
    border: solid 5px;
    background-color: azure;
}
.column {
  float: left;
  padding: 10px;
  height: auto
}
.left {
  border: solid 3px;
  width: 40%;
}

.right {
  border: solid 3px;
  width: 60%;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
